@import "./base.css";

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  color: #00bd7e;
  /* text-decoration: none;
  transition: 0.4s;
  padding: 3px; */
}

.orange {
  color: #eab658;
}

.blue {
  color: #4988e7;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  display: flex;
  /* place-items: center; */
  max-width: 100vw;
}
/* @media (min-width: 1024px) {

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

.custom-scrollbar {
  overflow: auto;
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #313131cc;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 1);
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
  display: none;
}
