@import "./base.css";

:root {
  --color-green: #00bd7e;
  --color-green-light: #00f2a1;
  --color-orange: #eab658;
  --color-blue: #4988e7;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  color: var(--color-green);
}

.orange {
  color: var(--color-orange);
}

.blue {
  color: var(--color-blue);
}
.green-bg {
  color: white;
  background: var(--color-green);
}

.orange-bg {
  color: white;
  background: var(--color-orange);
}

.blue-bg {
  color: white;
  background: var(--color-blue);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  display: flex;
  /* place-items: center; */
  max-width: 100vw;
}
/* @media (min-width: 1024px) {

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

.custom-scroll {
  overflow: auto !important;
  height: 100%;
}

.custom-scroll::-webkit-scrollbar {
  /* width: 7px;
  height: 10px; */
  width: 0;
  height: 0;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  /* background: #313131cc;
  border-radius: 10px; */
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  /* background: rgba(0, 0, 0, 1); */
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-corner {
  background: transparent;
  display: none;
}
